# Web framework
flask
flask-cors

# Environment
python-dotenv

# Streamlit (optional, if you want a local UI)
streamlit

# PDF loader
pypdf

# LangChain + community modules
langchain
langchain-community
langchain-pinecone
langchain-cohere
langchain-groq

# Embeddings & vector DB
pinecone-client
cohere
